{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .vich-image img {
            width: 200px;
        }
    </style>
{% endblock %}