<form id="product-adding-to-cart" class="variations_form cart" method="post" action="{{ path('ade_shop_show', {'slug':product.slug}) }}">
    {% if product.variants|length > 1 %}
        <table class="variations">
            <tbody>
            <tr>
                <td class="label"><label>{{ form_label(form.cartItem.variant) }}</label></td>
                <td class="value">
                    {{ form_widget(form.cartItem.variant) }}
                    {{ form_errors(form.cartItem.variant) }}
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        {{ form_widget(form.cartItem.variant) }}
    {% endif %}
    <div class="single_variation_wrap">
        <div class="woocommerce-variation single_variation"></div>
        <div class="woocommerce-variation-add-to-cart variations_button">
            <div class="quantity">
                {{ form_widget(form.cartItem.quantity,{'attr': {'class':'input-text qty text'}}) }}
            </div>
            {{ form_widget(form.cartItem.add,{'attr': {'class':'single_add_to_cart_button button', 'disabled' : variant.inStock <= 0 ? true : false }}) }}
            {{ form_errors(form.cartItem.quantity) }}
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
</form>