{% trans_default_domain 'AdeShopBundle' %}
{% if product.variants|length > 1 %}
    <a href="{{ path('ade_shop_show', { 'slug':product.slug }) }}" class="button product_type_variable">{{ 'show_product'|trans }}</a>
{% else %}
    <a rel="nofollow" href="{{ path('ade_shop_cart_add', { 'variant_id':product.variants.first.id }) }}" class="button add_to_cart_button">{{ 'add_to_cart'|trans }}</a>
{% endif %}