<div class="woocommerce-product-rating">
    <div class="star-rating" title="Rated 4.33 out of 5">
                        <span style="width:86.6%">
                            <strong itemprop="ratingValue" class="rating">4.33</strong>
                            out of <span itemprop="bestRating">5</span>				based on
                            <span itemprop="ratingCount" class="rating">3</span>
                            customer ratings
                        </span>
    </div>

    <a href="#reviews" class="woocommerce-review-link">(<span itemprop="reviewCount" class="count">3</span> customer reviews)</a>
</div><!-- .woocommerce-product-rating -->