{% trans_default_domain 'AdeShopBundle' %}

<p class="woocommerce-result-count">
    {{ 'shop_show_results'|trans({
        '%offsetStart%': pagination.getPaginationData.firstItemNumber,
        '%offsetEnd%': pagination.getPaginationData.lastItemNumber,
        '%count%': pagination.getTotalItemCount
    }) }}
</p>