{% trans_default_domain 'AdeShopBundle' %}

<div class="woocommerce-tabs wc-tabs-wrapper">
    <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">
        <li class="nav-item accessories_tab">
            <a href="#tab-accessories" data-toggle="tab">Accessories</a>
        </li>

        <li class="nav-item description_tab">
            <a href="#tab-description" class="active" data-toggle="tab">Description</a>
        </li>

        <li class="nav-item specification_tab">
            <a href="#tab-specification" data-toggle="tab">Specification</a>
        </li>

        <li class="nav-item reviews_tab">
            <a href="#tab-reviews" data-toggle="tab">Reviews</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane panel entry-content wc-tab" id="tab-accessories">

            <div class="accessories">
                <div class="electro-wc-message"></div>
                <div class="row">
                    {{ call_filter_if_it_exist('[combo_product id="' ~ 1 ~ '"]', 'ade_combo_product')|raw }}
                </div><!-- /.row -->
            </div><!-- /.accessories -->
        </div>

        <div class="tab-pane active in panel entry-content wc-tab" id="tab-description">
            <div class="electro-description">
                {{ product.description|raw }}
            </div><!-- /.electro-description -->

            <div class="product_meta">
                <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">FW511948218</span></span>


                <span class="posted_in">Category:
                                                    <a href="product-category.html" rel="tag">Headphones</a>
                                                </span>

                <span class="tagged_as">Tags:
                                                    <a href="product-category.html" rel="tag">Fast</a>,
                                                    <a href="product-category.html" rel="tag">Gaming</a>, <a href="product-category.html" rel="tag">Strong</a>
                                                </span>

            </div><!-- /.product_meta -->
        </div>

        <div class="tab-pane panel entry-content wc-tab" id="tab-specification">
            <h3>Technical Specifications</h3>
            <table class="table" id="table-tab-specification">
                {% spaceless %}
                    <tbody>
                        {% for key,value in specifications %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value|join(', ') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endspaceless %}
            </table>
        </div><!-- /.panel -->

        <div class="tab-pane panel entry-content wc-tab" id="tab-reviews">
            <div id="reviews" class="electro-advanced-reviews">
                <div class="advanced-review row">
                    <div class="col-xs-12 col-md-6">
                        <h2 class="based-title">Based on 3 reviews</h2>
                        <div class="avg-rating">
                            <span class="avg-rating-number">4.3</span> overall
                        </div>

                        <div class="rating-histogram">
                            <div class="rating-bar">
                                <div class="star-rating" title="Rated 5 out of 5">
                                    <span style="width:100%"></span>
                                </div>
                                <div class="rating-percentage-bar">
                                                                    <span style="width:33%" class="rating-percentage">

                                                                    </span>
                                </div>
                                <div class="rating-count">1</div>
                            </div><!-- .rating-bar -->

                            <div class="rating-bar">
                                <div class="star-rating" title="Rated 4 out of 5">
                                    <span style="width:80%"></span>
                                </div>
                                <div class="rating-percentage-bar">
                                    <span style="width:67%" class="rating-percentage"></span>
                                </div>
                                <div class="rating-count">2</div>
                            </div><!-- .rating-bar -->

                            <div class="rating-bar">
                                <div class="star-rating" title="Rated 3 out of 5">
                                    <span style="width:60%"></span>
                                </div>
                                <div class="rating-percentage-bar">
                                    <span style="width:0%" class="rating-percentage"></span>
                                </div>
                                <div class="rating-count zero">0</div>
                            </div><!-- .rating-bar -->

                            <div class="rating-bar">
                                <div class="star-rating" title="Rated 2 out of 5">
                                    <span style="width:40%"></span>
                                </div>
                                <div class="rating-percentage-bar">
                                    <span style="width:0%" class="rating-percentage"></span>
                                </div>
                                <div class="rating-count zero">0</div>
                            </div><!-- .rating-bar -->

                            <div class="rating-bar">
                                <div class="star-rating" title="Rated 1 out of 5">
                                    <span style="width:20%"></span>
                                </div>
                                <div class="rating-percentage-bar">
                                    <span style="width:0%" class="rating-percentage"></span>
                                </div>
                                <div class="rating-count zero">0</div>
                            </div><!-- .rating-bar -->
                        </div>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-md-6">
                        <div id="review_form_wrapper">
                            <div id="review_form">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Add a review
                                        <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a>
                                        </small>
                                    </h3>

                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <p class="comment-form-rating">
                                            <label>Your Rating</label>
                                        </p>

                                        <p class="stars">
                                                                            <span><a class="star-1" href="#">1</a>
                                                                                <a class="star-2" href="#">2</a>
                                                                                <a class="star-3" href="#">3</a>
                                                                                <a class="star-4" href="#">4</a>
                                                                                <a class="star-5" href="#">5</a>
                                                                            </span>
                                        </p>

                                        <p class="comment-form-comment">
                                            <label for="comment">Your Review</label>
                                            <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                        </p>

                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" class="submit" value="Add Review" />
                                            <input type='hidden' name='comment_post_ID' value='2452' id='comment_post_ID' />
                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                        </p>

                                        <input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" value="c7106f1f46" />
                                        <script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();</script>
                                    </form><!-- form -->
                                </div><!-- #respond -->
                            </div>
                        </div>

                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div id="comments">

                    <ol class="commentlist">
                        <li itemprop="review" class="comment even thread-even depth-1">

                            <div id="comment-390" class="comment_container">

                                <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                <div class="comment-text">

                                    <div class="star-rating" title="Rated 4 out of 5">
                                        <span style="width:80%"><strong itemprop="ratingValue">4</strong> out of 5</span>
                                    </div>


                                    <p class="meta">
                                        <strong>John Doe</strong> &ndash;
                                        <time itemprop="datePublished" datetime="2016-03-03T14:13:48+00:00">March 3, 2016</time>:
                                    </p>



                                    <div itemprop="description" class="description">
                                        <p>Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.
                                        </p>
                                    </div>


                                    <p class="meta">
                                        <strong itemprop="author">John Doe</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:13:48+00:00">March 3, 2016</time>
                                    </p>


                                </div>
                            </div>
                        </li><!-- #comment-## -->

                        <li class="comment odd alt thread-odd thread-alt depth-1">

                            <div class="comment_container">

                                <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                <div class="comment-text">

                                    <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating" title="Rated 5 out of 5">
                                        <span style="width:100%"><strong itemprop="ratingValue">5</strong> out of 5</span>
                                    </div>

                                    <p class="meta">
                                        <strong>Anna Kowalsky</strong> &ndash;
                                        <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>:
                                    </p>


                                    <div itemprop="description" class="description">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget facilisis odio. Duis sodales augue eu tincidunt faucibus. Etiam justo ligula, placerat ac augue id, volutpat porta dui.
                                        </p>
                                    </div>

                                    <p class="meta">
                                        <strong itemprop="author">Anna Kowalsky</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>
                                    </p>

                                </div>
                            </div>
                        </li><!-- #comment-## -->

                        <li class="comment odd alt thread-odd thread-alt depth-1">

                            <div class="comment_container">

                                <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                <div class="comment-text">

                                    <div itemprop="reviewRating" class="star-rating" title="Rated 5 out of 5">
                                        <span style="width:100%"><strong itemprop="ratingValue">5</strong> out of 5</span>
                                    </div>

                                    <p class="meta">
                                        <strong>Anna Kowalsky</strong> &ndash;
                                        <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>:
                                    </p>


                                    <div itemprop="description" class="description">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget facilisis odio. Duis sodales augue eu tincidunt faucibus. Etiam justo ligula, placerat ac augue id, volutpat porta dui.
                                        </p>
                                    </div>

                                    <p class="meta">
                                        <strong itemprop="author">Anna Kowalsky</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>
                                    </p>

                                </div>
                            </div>
                        </li><!-- #comment-## -->
                    </ol><!-- /.commentlist -->

                </div><!-- /#comments -->

                <div class="clear"></div>
            </div><!-- /.electro-advanced-reviews -->
        </div><!-- /.panel -->
    </div>
</div><!-- /.woocommerce-tabs -->