{% extends 'shop.html.twig' %}

{% trans_default_domain 'AdeShopBundle' %}

{% block body_css %}
    class="left-sidebar"
{% endblock %}

{% block showing_results %}
    <header class="page-header">
        <h1 class="page-title">{{ category.title }}</h1>
        {% include '@AdeShop/Product/_show_results.html.twig' with{ 'pagination' : pagination } %}
    </header>
{% endblock %}

{% block shop_control_bar_top %}
    <div class="shop-control-bar">
        <form class="woocommerce-ordering" method="get">
            <select name="orderby" class="orderby">
                <option value="menu_order"  selected='selected'>Default sorting</option>
                <option value="popularity" >Sort by popularity</option>
                <option value="rating" >Sort by average rating</option>
                <option value="date" >Sort by newness</option>
                <option value="price" >Sort by price: low to high</option>
                <option value="price-desc" >Sort by price: high to low</option>
            </select>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">

            <ul class="products columns-3">
                {% for product in pagination %}
                    <li class="product">
                        <div class="product-outer">
                            <div class="product-inner">
                                <span class="loop-product-categories">
                                    {% include '@AdeShop/Product/_categories.html.twig' with{ 'categories' : product.categories } %}
                                </span>
                                <a href="{{ path('ade_shop_show',{ 'slug' : product.slug }) }}">
                                    <h3>{{ product.title }}</h3>
                                    <div class="product-thumbnail">
                                        <img src="{{ vich_uploader_asset(product.variants.first, 'imageFile') }}" class="wp-post-image" alt="{{ product.title }}">
                                    </div>
                                </a>

                                <div class="price-add-to-cart">
                                    <span class="price">
                                        <span class="electro-price">
                                            <small>
                                            {% if product.variants|length > 1 %}
                                                {{ 'ade_shop.configurable_price_list'|trans({ '%price%': finalPrice(product.variants.first), '%discount%': '' })|raw }}
                                            {% else %}
                                                {{ finalPrice(product.variants.first)|raw }}
                                            {% endif %}
                                                </small>
                                        </span>
                                    </span>
                                    {% include '@AdeShop/Product/_btn_add_cart.html.twig' with{ 'product': product } %}
                                </div><!-- /.price-add-to-cart -->

                                <div class="hover-area">
                                    <div class="action-buttons">
                                        {% include '@AdeShop/Product/_btn_add_wishlist.html.twig' %}
                                        {% include '@AdeShop/Product/_btn_add_compare.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <!-- /.product-inner -->
                        </div><!-- /.product-outer -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block shop_control_bar_bottom %}
    <div class="shop-control-bar-bottom">
        {% include '@AdeShop/Product/_show_results.html.twig' with{ 'pagination' : pagination } %}
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}