{% extends 'shop.html.twig' %}

{% trans_default_domain 'AdeShopBundle' %}

{% block body_css %}class="single-product full-width"{% endblock %}

{% set variant = product.variants.first %}
{% set currentPrice = variant.getCurrentPriceWithTax %}
{% set saving = variant.getSaving %}
{% set price = variant.getPriceWithTax %}
{% set discount = variant.getCurrentDiscount %}
{% set sku = variant.sku %}
{% set inStock = variant.inStock %}
{% set tax = variant.tax %}
{% set shortDescription = variant.shortDescription %}
{% set gallery = variant.gallery %}
{% set specifications = variant.getSpecifications %}
{% set image = variant.imageFile %}
{% set objImage = variant %}

{% block content %}
    <div class="product">
        <div class="single-product-wrapper">
            <div id="product-images-wrapper" class="product-images-wrapper">
                {% if currentPrice != price %}
                    <span class="onsale">(-{{ discount }}%)</span>
                {% endif %}
                {% if filter_exist('ade_gallery') and gallery != null %}
                    {{ call_filter_if_it_exist('[gallery id="' ~ gallery.id ~ '" type="product"]', 'ade_gallery')|raw }}
                {% elseif image %}
                    {% spaceless %}
                        <div class="images electro-gallery">
                            <div class="thumbnails-single owl-carousel">
                                <a href="{{ vich_uploader_asset(objImage, 'imageFile') }}" class="zoom" data-lightbox="roadtrip">
                                    <img src="{{ vich_uploader_asset(objImage, 'imageFile') }}" class="wp-post-image" alt="{{ product.title }}">
                                </a>
                            </div>
                            <div class="thumbnails-all columns-5 owl-carousel">
                                <a href="{{ vich_uploader_asset(objImage, 'imageFile') }}" class="first">
                                    <img src="{{ vich_uploader_asset(objImage, 'imageFile') }}" class="wp-post-image" alt="{{ product.title }}">
                                </a>
                            </div>
                        </div>
                    {% endspaceless %}
                {% else %}
                    <div class="images electro-gallery">
                        <div class="thumbnails-single owl-carousel"></div>
                        <div class="thumbnails-all columns-5 owl-carousel"></div>
                    </div>
                {% endif %}
            </div>

            <div class="summary entry-summary">

                <span class="loop-product-categories">
                    {% include '@AdeShop/Product/_categories.html.twig' with{ 'categories' : product.categories } %}
                </span>

                <h1 itemprop="name" class="product_title entry-title">{{ product.title }}</h1>

                {% include '@AdeShop/Product/_show_rating.html.twig' %}

                <div id="product-in-stock">
                    {% spaceless %}
                        <div class="availability {% if inStock > 0 %} in-stock{% else %} out-of-stock{% endif %}">
                            <span>{% if inStock > 0 %}{{ 'available'|trans }}{% else %}{{ 'noavailable'|trans }}{% endif %}</span>
                        </div>
                    {% endspaceless %}
                </div>

                <hr class="single-product-title-divider" />

                <div class="action-buttons">
                    {% include '@AdeShop/Product/_btn_add_wishlist.html.twig' %}
                    {% include '@AdeShop/Product/_btn_add_compare.html.twig' %}
                </div>

                <div itemprop="description">
                    <div id="product_short_description">
                        {% spaceless %}
                            <p>{{ shortDescription|raw }}</p>
                        {% endspaceless %}
                    </div>
                    <p><strong>SKU</strong>: <span id="product_show_sku">{% spaceless %}<em>{{ sku }}</em>{% endspaceless %}</span></p>
                </div>

                <div>
                    <p class="price" id="price">
                        {% spaceless %}
                            <span class="electro-price">
                                A partire da
                                {% if currentPrice == price %}
                                    <ins><span class="amount">{{ price|localizedcurrency('EUR') }}</span></ins>
                                {% else %}
                                    <ins><span class="amount">{{ currentPrice|localizedcurrency('EUR') }}</span></ins><del><span class="amount">{{ price|localizedcurrency('EUR') }}</span></del> (-{{ discount }}%)
                                {% endif %}
                            </span>
                        {% endspaceless %}
                    </p>
                </div>

                <div id="product_info">
                    {% spaceless %}
                        <div id="product_saving">
                            {% if currentPrice != price %}
                                <span>{{ 'saving'|trans({'%saving%': saving|localizedcurrency('EUR')}) }}</span>
                            {% endif %}
                        </div>
                        <div id="product_tax"><strong>{{ 'price_tax'|trans({'%title%': tax}) }}</strong></div>
                    {% endspaceless %}
                </div>



            </div><!-- .summary -->
        </div><!-- /.single-product-wrapper -->
        {% include '@AdeShop/Product/_tabs.html.twig' with{ 'specifications': specifications } %}
    </div><!-- /.product -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        /* <![CDATA[ */
        var productConfigurable = {
            "sku":"{{ sku }}",
            "price":"{{ price|localizedcurrency('EUR') }}",
            "currentPrice":"{{ currentPrice|localizedcurrency('EUR') }}",
            "discount":"{{ discount }}",
            "inStock": "{{ inStock }}",
            "shortDescription": "{{ shortDescription|raw }}",
            'specifications': {{ specifications|json_encode()|raw }},
            "saving": "{{ 'saving'|trans({'%saving%': saving|localizedcurrency('EUR')}) }}",
            "tax": "{{ tax ? 'price_tax'|trans({'%title%': tax }) : '' }}",
            'productId': {{ product.id }},
            "translations": {{ { 'available' : 'available'|trans, 'noavailable' : 'noavailable'|trans, 'starting_from' : 'starting_from'|trans }|json_encode()|raw }}
        };
        /* ]]> */
    </script>
    <script src="{{ asset('build/js/product_show_simple.js') }}"></script>
{% endblock %}