<div class="col-xs-12 col-sm-9 col-left">
    <ul class="products columns-{{ comboProduct.comboProductItems.count }}">
        {% for item in comboProduct.comboProductItems %}
            <li class="product {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
                <div class="product-outer">
                    <div class="product-inner">
                        <span class="loop-product-categories">
                            {% include '@AdeShop/Product/_categories.html.twig' with{ 'categories' : item.variant.product.categories } %}
                        </span>
                        <a href="#">
                            <h3>{{ item.variant.productName }}</h3>
                            <div class="product-thumbnail">
                                <img src="{{ vich_uploader_asset(item.variant, 'imageFile') }}" alt="{{ item.variant.productName }}">
                            </div>
                        </a>

                        <div class="price-add-to-cart">
                            <span class="price">
                                <span class="electro-price">
                                    {{ finalPrice(item.variant)|raw }}
                                </span>
                            </span>
                        </div><!-- /.price-add-to-cart -->
                    </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
            </li>
        {% endfor %}
    </ul><!-- /.products -->
</div>

<div class="col-xs-12 col-sm-3 col-right">
    <div class="total-price">
        <span class="total-price-html">
            <span class="amount">{{ comboProduct.getAmount|localizedcurrency('EUR') }}</span>
        </span>
    </div><!-- /.total-price -->

    <div class="accessories-add-all-to-cart">
        <a href="{{ path('ade_shop_cart_add_combo', {'variant_ids': comboProduct.getVariantsIds}) }}" rel="nofollow" class="button btn btn-primary add-all-to-cart">
            {{ comboProduct.comboProductItems.count > 2 ?
                'add_all_to_cart'|trans({'%count%':comboProduct.comboProductItems.count}) :
                'add_two_to_cart'|trans }}
        </a>
    </div><!-- /.accessories-add-all-to-cart -->
</div><!-- /.col -->