{% include '@AdeShop/Product/configurable/_variantsPricing.html.twig' with {'pricing': provideVariantsPrices(product)} %}

<form id="product-adding-to-cart" class="variations_form cart" method="post" action="{{ path('ade_shop_show', {'slug':product.slug}) }}">
    <table class="variations">
        <tbody>
        {% for option_form in form.cartItem.variant %}
            <tr>
                <td class="label"><label>{{ form_label(option_form) }}</label></td>
                <td class="value">
                    {{ form_widget(option_form, { 'attr': { 'data-option': option_form.vars.name } }) }}
                    {{ form_errors(option_form) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="single_variation_wrap">
        <div class="woocommerce-variation single_variation"></div>
        <div class="woocommerce-variation-add-to-cart variations_button">
            <div class="quantity">
                {{ form_widget(form.cartItem.quantity,{'attr': {'class':'input-text qty text'}}) }}
            </div>
            {{ form_widget(form.cartItem.add,{'attr': {'class':'single_add_to_cart_button button', 'disabled' : inStock <= 0 ? true : false }}) }}
            {{ form_errors(form.cartItem.quantity) }}
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
</form>