<div id="variants-pricing">
    {% for price in pricing %}
        <div {% for option, value in price %}data-{{ option }}="{% if option == 'images' or option == 'specifications' %}{{ value }}{% else %}{% if option == 'price' or option == 'currentPrice' %}{{ value|localizedcurrency('EUR') }}{% else %}{{ value|replace({'\"': '\''}) }}{% endif %}{% endif %}" {% endfor %}></div>
    {% endfor %}
</div>