@import 'bourbon/bourbon';
@import '../../node_modules/susy/sass/susy';

// Base Variables
$base-font: 				"Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$header-font: 				$base-font;

$body-background: 			#ffffff;
$color-body: 				#333e48;

$vspacing: 					1.618em;

$product-title-color: 		#0062bd;

// Footer Variables
$footer-bg: 				#fff;

$footer-bottom-bg: 			#f8f8f8;
$footer-bottom-color: 		$color-body;
$footer-bottom-link-color: 	$footer-bottom-color;

$copyright-bar-bg: 			#eaeaea;
$copyright-bar-color: 		$color-body;
$copyright-bar-link-color: 	$copyright-bar-color;

@import 'integrations/fontawesome-variables';