{% if gallery.images|length > 0 %}
    {% if type == 'product' %}
        {% spaceless %}
        <div class="images electro-gallery">
            <div class="thumbnails-single owl-carousel">
                {% for image in gallery.images %}
                    <a href="{{ vich_uploader_asset(image, 'imageFile') }}" class="zoom" data-lightbox="roadtrip">
                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="wp-post-image" alt="{{ image.alt }}">
                    </a>
                {% endfor %}
            </div>

            <div class="thumbnails-all columns-5 owl-carousel">
                {% for image in gallery.images %}
                    <a href="{{ vich_uploader_asset(image, 'imageFile') }}" {% if loop.first %}class="first"{% elseif loop.last %}class="last"{% endif %}>
                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="wp-post-image" alt="{{ image.alt }}">
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endspaceless %}
    {% else %}
        <div class="lightbox-gallery row">
            {% for image in gallery.images %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="{{ vich_uploader_asset(image, 'imageFile') }}" data-lightbox="roadtrip">
                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.alt }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}