{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
 
{% block field %}
    <input class="form-control" id="{{ admin.uniqid }}_{{ object.id }}_{{ field_description.name }}_update_field" value="{{ value }}"/>
    <script>
        $(document).ready(function(){
            $( "#{{ admin.uniqid }}_{{ object.id }}_{{ field_description.name }}_update_field" ).keyup(function( event ) {
                var $val = $(this).val();
                var $field = '{{ field_description.name }}';
                var $adminCode = '{{ admin.code }}';
                $.ajax({
                    type: "POST",
                    url: "{{ path('ade_fast_edit_sonata_update_field', { 'id' : object.id }) }}",
                    data: {value : $val, field: $field, code: $adminCode},
                    dataType: 'json'
                });
            });
        });
    </script>
{% endblock %}