{% extends 'shop.html.twig' %}

{% trans_default_domain 'AdeShopBundle' %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <em class="alert-danger">{{ error.message }}</em>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
    <label for="{{ id }}">{{ label|trans|raw }}</label>
    {% if required %}
        <abbr title="required" class="required">*</abbr>
    {% endif %}
{% endblock %}

{% block _order_paymentMethod_widget %}
    <ul class="wc_payment_methods payment_methods methods">
    {%- for child in form %}
        <li class="wc_payment_method payment_method_bacs">
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            {#<div class="payment_box payment_method_bacs">
                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
            </div>#}
        </li>
        {#<li class="wc_payment_method payment_method_cod">
            <input type="radio" data-order_button_text="" value="cod" name="payment_method" class="input-radio" id="payment_method_cod">

            <label for="payment_method_cod">Cash on Delivery</label>
            <div style="display:none;" class="payment_box payment_method_cod">
                <p>Pay with cash upon delivery.</p>
            </div>
        </li>
        <li class="wc_payment_method payment_method_paypal">
            <input type="radio" data-order_button_text="Proceed to PayPal" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">

            <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/us/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/us/webapps/mpp/paypal-popup">What is PayPal?</a></label>
            <div style="display:none;" class="payment_box payment_method_paypal">
                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
            </div>
        </li>#}
    {% endfor -%}
    </ul>
{% endblock %}

{% block content %}
    <article class="page type-page status-publish hentry">
        <header class="entry-header">
            <h1 itemprop="name" class="entry-title">Checkout</h1>

        </header><!-- .entry-header -->

        {{ form_start(form, { attr: {novalidate: 'novalidate', class: 'checkout woocommerce-checkout', action: path('ade_shop_checkout')} }) }}
        <div id="customer_details" class="col2-set">
            <div class="col-1">
                <div class="woocommerce-billing-fields">
                    <h3>Billing Details</h3>
                    <p id="billing_first_name_field" class="form-row form-row form-row-first">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                        {{ form_errors(form.firstname) }}
                    </p>
                    <p id="billing_last_name_field" class="form-row form-row form-row-last">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                        {{ form_errors(form.lastname) }}
                    </p>
                    <p id="billing_email_field" class="form-row form-row form-row-first">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </p>
                    <p id="billing_phone_field" class="form-row form-row form-row-last">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                        <div class="clear"></div>
                    </p>
                    <p id="billing_country_field" class="form-row form-row form-row-wide">
                        {{ form_label(form.country) }}
                        {{ form_widget(form.country, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.country) }}
                        <div class="clear"></div>
                    </p>
                    <p id="billing_address_1_field" class="form-row form-row form-row-wide">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.address) }}
                    </p>
                    <p id="billing_city_field" class="form-row form-row form-row-first">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.city) }}
                    </p>
                    <p id="billing_postcode_field" class="form-row form-row form-row-last">
                        {{ form_label(form.postalCode) }}
                        {{ form_widget(form.postalCode, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.postalCode) }}
                    </p>
                    <p id="billing_company_field" class="form-row form-row form-row-first">
                        {{ form_label(form.company) }}
                        {{ form_widget(form.company, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.company) }}
                    </p>
                    <p id="billing_vat_field" class="form-row form-row form-row-last">
                        {{ form_label(form.vat) }}
                        {{ form_widget(form.vat, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.vat) }}
                    </p>
                    <p id="billing_fiscalCode_field" class="form-row form-row form-row-wide">
                        {{ form_label(form.fiscalCode) }}
                        {{ form_widget(form.fiscalCode, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.fiscalCode) }}
                    </p>

                    <div class="clear"></div>
                    <p class="form-row form-row-wide create-account">
                        {{ form_widget(form.createUser) }}
                        {{ form_label(form.createUser) }}
                        {{ form_errors(form.createUser) }}
                    </p>
                    {{ form_widget(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}

                    {{ form_widget(form._token) }}
                </div>
            </div>
            <div class="col-2">
                <h3>Shipping Details</h3>
                <div class="woocommerce-shipping-fields">
                    <p id="order_comments_field" class="form-row form-row notes">
                        {{ form_label(form.note) }}
                        {{ form_widget(form.note, {'attr':{'class':'input-text'}}) }}
                        {{ form_errors(form.note) }}
                    </p>
                </div>
            </div>
        </div>
        <h3 id="order_review_heading">Your order</h3>

        <div class="woocommerce-checkout-review-order" id="order_review">
            <table class="shop_table woocommerce-checkout-review-order-table">
                <thead>
                <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Total</th>
                </tr>
                </thead>
                <tbody>
                    {% for id, q in cart %}
                        <tr class="cart_item">
                            <td class="product-name">
                                {{ variants[id].getProductName }}
                                <strong class="product-quantity">× {{ q }}</strong>
                            </td>
                            <td class="product-total">
                                <span class="amount">
                                    {{ finalPrice(variants[id])|raw }} {{ discount(variants[id]) }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>

                <tr class="cart-subtotal">
                    <th>Subtotal</th>
                    <td><span class="amount">{{ subtotal|localizedcurrency('EUR') }}</span></td>
                </tr>

                <tr class="shipping">
                    <th>Shipping</th>
                    <td data-title="Shipping">Flat Rate: <span class="amount">$300.00</span> <input type="hidden" class="shipping_method" value="international_delivery" id="shipping_method_0" data-index="0" name="shipping_method[0]"></td>
                </tr>

                <tr class="order-total">
                    <th>Total</th>
                    <td><strong><span class="amount">$3,599.00</span></strong> </td>
                </tr>
                </tfoot>
            </table>

            <div class="woocommerce-checkout-payment" id="payment">
                {{ form_widget(form.paymentMethod) }}
                {{ form_errors(form.paymentMethod) }}
                <div class="form-row place-order">

                    <p class="form-row terms wc-terms-and-conditions">
                        {{ form_widget(form.terms) }}
                        {{ form_label(form.terms) }}
                        {{ form_errors(form.terms) }}
                    </p>
                    {{ form_widget(form.add, {'attr':{'class':'button alt'}}) }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}