{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}

{% trans_default_domain 'AdeTreeSonataBundle' %}

<p>
    <div class="btn-group">
        <a type="button" class="btn {% if mode == 'list' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list') }}">
            <i class="fa fa-list"></i> {{ 'ade_tree_sonata.admin.actions.list_mode'|trans }}
        </a>
        <a type="button" class="btn {% if mode == 'tree' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('tree') }}">
            <i class="fa fa-sitemap"></i> {{ 'ade_tree_sonata.admin.actions.tree_mode'|trans }}
        </a>
    </div>
</p>