{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block tab_menu %}
    {% include '@AdeTreeSonata/Admin/list_tab_menu.html.twig' with {
    'mode':   'list',
    'action': action,
    'admin':  admin,
    } only %}
{% endblock %}