{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% macro navigate_child(collection, admin, root, depth) %}
    {% import _self as self %}
    <ol class="sonata-tree sonata-tree--toggleable js-treeview sortable">
        {% for element in collection %}
            <li id="list_{{ element.id }}" class="sonata-ba-list-field" objectId="{{ element.id }}" >
                <div class="sonata-tree__item">
                    <a class="sonata-tree__item__edit" href="{{ admin.generateObjectUrl('edit', element) }}">{{ element.title }}</a>
                    {% if element.isPublic %}
                        <span class="label label-success pull-right"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="label label-danger pull-right"><i class="fa fa-times"></i></span>
                    {% endif %}
                </div>

                {% if element.children|length %}
                    {{ self.navigate_child(element.children, admin, false, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% block tab_menu %}
    {% include '@AdeTreeSonata/Admin/list_tab_menu.html.twig' with {
    'mode':   'tree',
    'action': action,
    'admin':  admin,
    } only %}
{% endblock %}

{% block list_table %}
    {% from _self import navigate_child %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">
                    {{ admin.trans('ade_tree_sonata.admin.actions.tree_mode', {}, 'AdeTreeSonataBundle') }}
                </h1>
            </div>
            <div class="box-content nested-url" data-url="{{ admin.generateObjectUrl('jsonTree', null, {'data' : '' }) }}">
                {{ navigate_child(objects, admin, true, 0) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/adetreesonata/vendor/nestedSortable/jquery.mjs.nestedSortable.min.js') }}"></script>
    <script src="{{ asset('bundles/adetreesonata/js/admin/tree.js') }}"></script>
{% endblock %}