{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.imageFile %}
        <img width="100" src="{{ vich_uploader_asset(object, 'imageFile') }}" alt="{{ object.alt }}" />
    {% endif %}
{% endblock %}