<a class="btn btn-sm btn-default view_link" href="{{ admin.generateUrl('admin.image.list', {'id':object.id}) }}">
    <i class="fa fa-images"></i> {{ 'Manage Images'|trans({}, 'AdeGalleryBundle') }}
</a>