{% if pageCount > 1 %}
    <nav class="woocommerce-pagination">
        <ul class="page-numbers">
            {% if first is defined and current != first %}
                <li>
                    <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): first})) }}">←</a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li>
                    <a class="previous page-numbers" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><<</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li><span class="page-numbers current">{{ page }}</span></li>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li>
                    <a class="next page-numbers" href="{{ path(route, query|merge({(pageParameterName): next})) }}">>></a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li>
                    <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): last})) }}">→</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}