{% trans_default_domain 'AdeShopBundle' %}

<ul class="product-categories category-single">
    <li class="product_cat">
        <ul class="show-all-cat">
            {% for category in categories %}
                <li class="product_cat"><span class="show-all-cat-dropdown">{{ 'categories'|trans }}</span>
                    <ul>
                        <li class="cat-item"><a href="#">{{ category.title }}</a> {% if category.products|length > 0 %} <span class="count">({{ category.products|length }})</span> {% endif %}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>