{% trans_default_domain 'AdeShopBundle' %}

<h3 class="widget-title">{{ 'manufacturers'|trans }}</h3>
<ul>
    {% for manufacturer in manufacturers %}
        <li><a href="#">{{ manufacturer.title }}</a> {% if manufacturer.products|length > 0 %} <span class="count">({{ manufacturer.products|length }})</span> {% endif %}</li>
    {% endfor %}
</ul>