{% trans_default_domain 'AdeShopBundle' %}

<h3 class="widget-title">{{ 'price'|trans }}</h3>
<form action="#">
    <div class="price_slider_wrapper">
        <div style="" class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
            <span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;"></span>
            <span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%;"></span>
        </div>
        <div class="price_slider_amount">
            <a href="#" class="button">{{ 'filter'|trans }}</a>
            <div class="price_label">{{ 'price'|trans }}: <span class="from">${{ productWithMinPrice }}</span> &mdash; <span class="to">${{ productWithMaxPrice }}</span></div>
            <div class="clear"></div>
        </div>
    </div>
</form>