{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block sonata_admin_orm_one_to_many_widget %}
    {% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
    {% else %}

<div id="field_container_{{ id }}" class="field-container">
<span id="field_widget_{{ id }}" >
    {% if sonata_admin.edit == 'inline' %}
    {% if sonata_admin.inline == 'table' %}
    {% if form.children|length > 0 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for field_name, nested_field in form.children|first.children %}
                {% if field_name == '_delete' %}
                    <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                {% else %}
                    <th
                            {% if nested_field.vars['required'] %}
                                class="required"
                            {% endif %}
                            {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                                style="display:none;"
                            {% endif %}
                    >
                        {{ nested_field.vars.label|trans({}, nested_field.vars['sonata_admin'].admin.translationDomain
                            |default(nested_field.vars.translation_domain)
                        ) }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody class="sonata-ba-tbody">
        {% for nested_group_field_name, nested_group_field in form.children %}
            <tr>
                {% for field_name, nested_field in nested_group_field.children %}
                    <td class="
                        sonata-ba-td-{{ id }}-{{ field_name  }}
                        control-group
                        {% if nested_field.vars.errors|length > 0 %} error sonata-ba-field-error{% endif %}
                        "
                            {% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %}
                                style="display:none;"
                            {% endif %}
                    >
                        {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                            {% if sonata_admin.admin.subject.status == 'completed' %}
                                {{ form_widget(nested_field, {'disabled': true}) }}
                            {% else %}
                                {{ form_widget(nested_field) }}
                            {% endif %}
                            {% set dummy = nested_group_field.setrendered %}
                        {% else %}
                            {% if field_name == '_delete' %}
                                {{ form_widget(nested_field, { label: false }) }}
                            {% else %}
                                {{ form_widget(nested_field) }}
                            {% endif %}
                        {% endif %}
                        {% if nested_field.vars.errors|length > 0 %}
                            <div class="help-inline sonata-ba-field-error-messages">
                                {{ form_errors(nested_field) }}
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% elseif form.children|length > 0 %}
        {% set associationAdmin = sonata_admin.field_description.associationadmin %}
        {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_inline_tabs.html.twig' %}

    {% endif %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

        </span>

    {% set display_create_button = sonata_admin.field_description.associationadmin.hasroute('create')
        and sonata_admin.field_description.associationadmin.isGranted('CREATE')
        and btn_add
        and (
        sonata_admin.field_description.options.limit is not defined or
        form.children|length < sonata_admin.field_description.options.limit
        ) %}

    {% if sonata_admin.edit == 'inline' %}

        {% if display_create_button %}
            <span id="field_actions_{{ id }}" >
                    <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                                'create',
                                sonata_admin.field_description.getOption('link_parameters', {})
                            ) }}"
                            onclick="return start_field_retrieve_{{ id }}(this);"
                            class="btn btn-success btn-sm sonata-ba-action"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
        {% endif %}

        {# add code for the sortable options #}
        {% if sonata_admin.field_description.options.sortable is defined %}
            {% if sonata_admin.inline == 'table' %}
                {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_sortable_script_table.html.twig' %}
            {% else %}
                {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_sortable_script_tabs.html.twig' %}
            {% endif %}
        {% endif %}

        {# include association code #}
        {% include '@SonataAdmin/CRUD/Association/edit_one_script.html.twig' %}

    {% else %}
        <span id="field_actions_{{ id }}" >
                {% if display_create_button %}
                    <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                                'create',
                                sonata_admin.field_description.getOption('link_parameters', {})
                            ) }}"
                            onclick="return start_field_dialog_form_add_{{ id }}(this);"
                            class="btn btn-success btn-sm sonata-ba-action"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>

        {% include '@SonataAdmin/CRUD/Association/edit_modal.html.twig' %}

        {% include '@SonataAdmin/CRUD/Association/edit_one_script.html.twig' %}
    {% endif %}
</div>
    {% endif %}
{% endblock %}