<!DOCTYPE html>
<html lang="it-IT" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-electro.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl-carousel.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/colors/yellow.css') }}" media="all" />
        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="{{ asset('assets/images/fav-icon.png') }}">
    </head>
    <body class="left-sidebar">
            <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" ><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Smart Phones &amp; Tablets</nav>

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            {% block body %}{% endblock %}
                        </main><!-- #main -->
                    </div><!-- #primary -->

                    <div id="sidebar" class="sidebar" role="complementary">
                        <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
                            <ul class="product-categories category-single">
                                <li class="product_cat">
                                    <ul class="show-all-cat">
                                        <li class="product_cat"><span class="show-all-cat-dropdown">Show All Categories</span>
                                            <ul>
                                                <li class="cat-item"><a href="product-category.html">GPS &amp; Navi</a> <span class="count">(0)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Home Entertainment</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Cameras &amp; Photography</a> <span class="count">(5)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Smart Phones &amp; Tablets</a> <span class="count">(20)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Video Games &amp; Consoles</a> <span class="count">(3)</span></li>
                                                <li class="cat-item"><a href="product-category.html">TV &amp; Audio</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Gadgets</a> <span class="count">(3)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Car Electronic &amp; GPS</a> <span class="count">(0)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Accessories</a> <span class="count">(11)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Printers &amp; Ink</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Software</a> <span class="count">(0)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Office Supplies</a> <span class="count">(0)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Computer Components</a> <span class="count">(1)</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="cat-item current-cat"><a href="product-category.html">Laptops &amp; Computers</a> <span class="count">(13)</span>
                                            <ul class='children'>
                                                <li class="cat-item"><a href="product-category.html">Laptops</a> <span class="count">(6)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Ultrabooks</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Computers</a> <span class="count">(0)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Mac Computers</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">All in One</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Servers</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Peripherals</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Gaming</a> <span class="count">(1)</span></li>
                                                <li class="cat-item"><a href="product-category.html">Accessories</a> <span class="count">(2)</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget_electro_products_filter">
                            <h3 class="widget-title">Filters</h3>
                            <aside class="widget woocommerce widget_layered_nav">
                                <h3 class="widget-title">Brands</h3>
                                <ul>
                                    <li style=""><a href="#">Apple</a> <span class="count">(4)</span></li>
                                    <li style=""><a href="#">Gionee</a> <span class="count">(2)</span></li>
                                    <li style=""><a href="#">HTC</a> <span class="count">(2)</span></li>
                                    <li style=""><a href="#">LG</a> <span class="count">(2)</span></li>
                                    <li style=""><a href="#">Micromax</a> <span class="count">(1)</span></li>
                                </ul>
                                <p class="maxlist-more"><a href="#">+ Show more</a></p>
                            </aside>
                            <aside class="widget woocommerce widget_layered_nav">
                                <h3 class="widget-title">Color</h3>
                                <ul>
                                    <li style=""><a href="#">Black</a> <span class="count">(4)</span></li>
                                    <li style=""><a href="#">Black Leather</a> <span class="count">(2)</span></li>
                                    <li style=""><a href="#">Turquoise</a> <span class="count">(2)</span></li>
                                    <li style=""><a href="#">White</a> <span class="count">(4)</span></li>
                                    <li style=""><a href="#">Gold</a> <span class="count">(4)</span></li>
                                </ul>
                                <p class="maxlist-more"><a href="#">+ Show more</a></p>
                            </aside>
                            <aside class="widget woocommerce widget_price_filter">
                                <h3 class="widget-title">Price</h3>
                                <form action="#">
                                    <div class="price_slider_wrapper">
                                        <div style="" class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                                            <span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;"></span>
                                            <span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%;"></span>
                                        </div>
                                        <div class="price_slider_amount">
                                            <a href="#" class="button">Filter</a>
                                            <div style="" class="price_label">Price: <span class="from">$428</span> &mdash; <span class="to">$3485</span></div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </form>
                            </aside>
                        </aside>
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <a href="#"><img src="assets/images/banner/ad-banner-sidebar.jpg" alt="Banner"></a>
                            </div>
                        </aside>
                        <aside class="widget widget_products">
                            <h3 class="widget-title">Latest Products</h3>
                            <ul class="product_list_widget">
                                <li>
                                    <a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">
                                        <img width="180" height="180" src="assets/images/product-category/1.jpg" class="wp-post-image" alt=""/><span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>
                                    </a>
                                    <span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
                                </li>

                                <li>
                                    <a href="single-product.html" title="Tablet Thin EliteBook  Revolve 810 G6">
                                        <img width="180" height="180" src="assets/images/product-category/2.jpg" class="wp-post-image" alt=""/><span class="product-title">Tablet Thin EliteBook  Revolve 810 G6</span>
                                    </a>
                                    <span class="electro-price"><span class="amount">&#36;1,300.00</span></span>
                                </li>

                                <li>
                                    <a href="single-product.html" title="Notebook Widescreen Z51-70  40K6013UPB">
                                        <img width="180" height="180" src="assets/images/product-category/3.jpg" class="wp-post-image" alt=""/><span class="product-title">Notebook Widescreen Z51-70  40K6013UPB</span>
                                    </a>
                                    <span class="electro-price"><span class="amount">&#36;1,100.00</span></span>
                                </li>

                                <li>
                                    <a href="single-product.html" title="Notebook Purple G952VX-T7008T">
                                        <img width="180" height="180" src="assets/images/product-category/4.jpg" class="wp-post-image" alt=""/><span class="product-title">Notebook Purple G952VX-T7008T</span>
                                    </a>
                                    <span class="electro-price"><span class="amount">&#36;2,780.00</span></span>
                                </li>
                            </ul>
                        </aside>
                    </div>

                </div><!-- .container -->
            </div><!-- #content -->
            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/tether.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap-hover-dropdown.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/echo.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/wow.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/jquery.easing.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/electro.js') }}"></script>
            {% endblock %}
    </body>
</html>
