<!DOCTYPE html>
<html lang="it-IT" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-electro.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl-carousel.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/js/lightbox2/dist/css/lightbox.min.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/colors/yellow.css') }}" media="all" />
        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="{{ asset('assets/images/fav-icon.png') }}">
    </head>
    <body {% block body_css %}{% endblock %}>
        <div id="content" class="site-content" tabindex="-1">
            <div class="container">
                {{ breadcrumbs() }}

                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block showing_results %}{% endblock %}

                        {% block shop_control_bar_top %}{% endblock %}

                        {% block content %}{% endblock %}

                        {% block shop_control_bar_bottom %}{% endblock %}
                    </main><!-- #main -->
                </div><!-- #primary -->

                {% block sidebar %}
                    <div id="sidebar" class="sidebar" role="complementary">
                        <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
                            {% block component_categories %}
                                {{ render(controller(
                                    'AdeShopBundle\\Controller\\ComponentController::_categories'
                                )) }}
                            {% endblock %}
                        </aside>
                        <aside class="widget widget_electro_products_filter">
                            <h3 class="widget-title">{{ 'filters'|trans({}, 'AdeShopBundle') }}</h3>
                            <aside class="widget woocommerce widget_layered_nav">
                                {% block component_manufacturer %}
                                    {{ render(controller(
                                        'AdeShopBundle\\Controller\\ComponentController::_manufacturer'
                                    )) }}
                                {% endblock %}
                            </aside>
                            <aside class="widget woocommerce widget_price_filter">
                                {% block component_price_filter %}
                                {#{{ render(controller(
                                        'AdeShopBundle\\Controller\\ComponentController::_priceFilter'
                                    )) }}#}
                                {% endblock %}
                            </aside>
                        </aside>
                    </div>
                {% endblock %}

            </div><!-- .container -->
        </div><!-- #content -->
        {% block javascripts %}

            {#<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/tether.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap-hover-dropdown.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/echo.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/wow.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.easing.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/electro.js') }}"></script>#}
            <script src="{{ asset('build/js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
