{% extends 'shop.html.twig' %}

{% trans_default_domain 'AdeShopBundle' %}

{% block body_css %}class="page home page-template-default"{% endblock %}

{% block content %}
    <article class="page type-page status-publish hentry">
        <header class="entry-header"><h1 itemprop="name" class="entry-title">My Wishlist</h1></header><!-- .entry-header -->

        <table class="shop_table cart wishlist_table">

            <thead>
                <tr>

                    <th class="product-remove"></th>

                    <th class="product-thumbnail"></th>

                    <th class="product-name">
                        <span class="nobr">Product Name</span>
                    </th>

                    <th class="product-price">
                        <span class="nobr">Unit Price</span>
                    </th>
                    <th class="product-stock-stauts">
                        <span class="nobr">Stock Status</span>
                    </th>

                    <th class="product-add-to-cart"></th>

                </tr>
            </thead>

            <tbody>
                {% for variant in variants %}
                    <tr>
                        <td class="product-remove">
                            <div>
                                <a title="Remove this product" class="remove remove_from_wishlist" href="{{ path('ade_shop_wishlist_remove',{'variant':variant.id}) }}">×</a>
                            </div>
                        </td>

                        <td class="product-thumbnail">
                            <img width="180" height="180" src="{{ vich_uploader_asset(variant, 'imageFile') }}" alt="{{ variant.getProductName }}">
                        </td>

                        <td class="product-name">
                            {{ variant.getProductName }}
                        </td>

                        <td class="product-price">
                            <span class="amount">
                                  {{ finalPrice(variant)|raw }} {{ discount(variant) }}
                            </span>
                        </td>

                        <td class="product-stock-status">
                            <span class="in-stock">{% if variant.inStock > 0 %}{{ 'available'|trans }}{% else %}{{ 'noavailable'|trans }}{% endif %}</span>
                        </td>

                        <td class="product-add-to-cart">
                            <a rel="nofollow" href="{{ path('ade_shop_cart_add', {'variant_id': variant.id}) }}" class="button"> {{ 'add_to_cart'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tfoot>

        </table>

    </article>
{% endblock %}

{% block sidebar %}{% endblock %}