{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_select_rule_type'|trans({}, 'AdeShopBundle') }}{% endblock %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">
                {{ block('title') }}
            </h3>
        </div>
        <div class="box-body">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <ul>
                        <li><a href="{{ admin.generateUrl('create', {'rule_type': 'product'}) }}">
                                {{ 'form.product'|trans({}, 'AdeShopBundle') }}
                            </a></li>
                        <li><a href="{{ admin.generateUrl('create', {'rule_type': 'category'}) }}">
                            {{ 'form.category'|trans({}, 'AdeShopBundle') }}
                        </a></li>
                        <li><a href="{{ admin.generateUrl('create', {'rule_type': 'manufacturer'}) }}">
                            {{ 'form.manufacturer'|trans({}, 'AdeShopBundle') }}
                        </a></li>
                        <li><a href="{{ admin.generateUrl('create', {'rule_type': 'author'}) }}">
                            {{ 'form.author'|trans({}, 'AdeShopBundle') }}
                        </a></li>
                        <li><a href="{{ admin.generateUrl('create', {'rule_type': 'supplier'}) }}">
                            {{ 'form.supplier'|trans({}, 'AdeShopBundle') }}
                        </a></li>
                    </ul>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
