{% extends 'shop.html.twig' %}

{% trans_default_domain 'AdeShopBundle' %}

{% block body_css %}class="page home page-template-default"{% endblock %}

{% block content %}

    <div itemprop="mainContentOfPage" class="entry-content">
        <div class="table-responsive">
            <table class="table table-compare compare-list">
                <tbody>
                    <tr>
                        {% for id, q in compare %}
                            <td>
                                <div class="product-image">
                                    <div>
                                        <img class="wp-post-image" src="{{ vich_uploader_asset(variants[id], 'imageFile') }}" alt="{{ variants[id].getProductName }}" width="250" height="232">
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title">
                                        {{ variants[id].getProductName }}
                                    </h3>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for id, q in compare %}
                            <td>
                                <div class="product-price price">
                                    <span class="electro-price"><span class="amount">{{ finalPrice(variants[id])|raw }} {{ discount(variants[id]) }}</span></span>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for id, q in compare %}
                            <td><span class="in-stock">{% if variants[id].inStock > 0 %}{{ 'available'|trans }}{% else %}{{ 'noavailable'|trans }}{% endif %}</span></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for id, q in compare %}
                            <td>
                                {{ variants[id].shortDescription|raw }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for id, q in compare %}
                            <td>
                                <a rel="nofollow" href="{{ path('ade_shop_cart_add', {'variant_id': variants[id].id}) }}" class="button"> {{ 'add_to_cart'|trans }}</a>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for id, q in compare %}
                            <td>
                                <div class="product-price price">
                                    <span class="electro-price"><span class="amount">{{ finalPrice(variants[id])|raw }} {{ discount(variants[id]) }}</span></span>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for id, q in compare %}
                            <td class="text-center">
                                <a rel="nofollow" href="{{ path('ade_shop_compare_remove',{ 'variant': variants[id].id}) }}" title="Remove" class="remove-icon"><i class="fa fa-times"></i></a>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- .entry-content -->

{% endblock %}

{% block sidebar %}

{% endblock %}