{% trans_default_domain 'AdeBreadcrumbBundle' %}

<nav class="woocommerce-breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if app.request.get('_route') == breadcrumb.route %}
            <span class="delimiter"><i class="fa fa-angle-right"></i></span>{{ (breadcrumb.label)|replace({'%': ' '})|trans(breadcrumb.labelParameters) }}
        {% else %}
            <a href="{{ path(breadcrumb.route, breadcrumb.routeParameters) }}">
                {{ (breadcrumb.label)|replace({'%': ' '})|trans(breadcrumb.labelParameters) }}
            </a>
        {% endif %}
    {% endfor %}
</nav>