{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.imageFile %}
        <img width="50" src="{{ vich_uploader_asset(object, 'imageFile') }}" class="wp-post-image">
    {% endif %}
{% endblock %}