<a class="btn btn-sm btn-default" href="{{ admin.generateUrl('admin.variant.list', {'id':object.id, 'product_type': object.context}) }}">
    <i class="fa fa-list"></i> {{ 'List Variants'|trans({}, 'AdeShopBundle') }}
</a>
{% if object.context == 'configurable' %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('generateVariants', object) }}">
        <i class="fa fa-plus-circle"></i> {{ 'Generate Variants'|trans({}, 'AdeShopBundle') }}
    </a>
{% endif %}