{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.variants|length > 0 %}
        {% if object.variants|length > 1 %}
            {{ 'A partire da ' ~ object.variants.first.price|number_format(2, '.', ',') }}
        {% else %}
             {{ object.variants.first.price|number_format(2, '.', ',') }}
        {% endif %}
    {% endif %}
{% endblock %}