{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
        {% for variant in object.variants %}
             [{{ variant.inStock }}pz. * {{ variant.optionValues|join(', ') }}]
        {% endfor %}
{% endblock %}